@import '../../theme/variables';
@import '../../theme/theme-mixins';

.ui-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1060;
  transition: opacity $transition-base;

  &--blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}

